<div *ngIf="user">
  <h2>{{ user.displayName }}</h2>
  <p>uid: {{ user.uid }}</p>
  <p>email: {{ user.email }}</p>
  <p>photoURL: {{ user.photoURL }}</p>
  <p>favoriteColor: {{ user.favoriteColor }}</p>
  <p>profileURLImage: {{ profileUrl }}</p>

  <img src="{{ profileUrl | async }}" />

  <br><br><br><br><br><br>

  <form [formGroup]="profileForm" (keyup.enter)="updateProfile()" novalidate>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="displayName" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cor favorita" formControlName="favoriteColor">
    </mat-form-field>

    <button mat-raised-button class="login-submit" type="submit" [disabled]="profileForm.invalid" (click)="updateProfile()" color="primary">Atualizar</button>
  </form>

  <label for="file">File:</label>
  <input type="file" (change)="upload($event)" accept=".png,.jpg" />
  <div>{{ uploadPercent | async }}</div>

</div>
