@import '~theme.scss';

.sidebar {
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  background-color: mat-color($primary);

  &-toolbar {
    justify-content: space-between;
    box-shadow: 0 1px 0 rgba(0,0,0,.12);

    &__brand {
      display: flex;
      align-items: center;
    }

    &__logo {
      max-width: 24px;
      max-height: 24px;
      margin-right: 10px;
    }

    &__title {
      font-weight: normal!important;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  padding: 16px;
}

.main-navigation {
  color: mat-color($primary, lighter-contrast);

  &__submenu {
    overflow: hidden;
    max-height: 0;
    transition: .4s ease-in-out;

    .main-navigation__item {
      padding-left: 50px;
    }
  }

  &__item {
    width: 100%;
    text-align: left;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    font-weight: 400;
    border-radius: 0;

    &--active {
      background-color: mat-color($accent);
    }

    &-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      line-height: 18px;
      margin-right: 12px;
    }

    &-title {
      flex: 1;
      white-space: nowrap;
    }

    &-indicator {
      position: absolute;
      right: 12px;
      top: 17px;
      font-size: 14px;
      width: 14px;
      height: 14px;
      min-width: 14px;
      min-height: 14px;
      line-height: 14px;
      transition: .2s ease-in-out;
    }
  }

  .is-opened {
    .main-navigation__submenu {
      max-height: 200px;
    }

    .main-navigation__item-indicator {
      transform: rotate(90deg);
    }
  }

}
