<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="sidebar" opened="true">
    <mat-toolbar class="sidebar-toolbar" color="primary">
      <div class="sidebar-toolbar__brand">
        <div class="sidebar-toolbar__logo">
            <img src="assets/icons/favicon.png">
        </div>
        <h2 class="sidebar-toolbar__title">freelAdmin</h2>
      </div>

      <button class="sidebar-toolbar__menu" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>
    <ul class="main-navigation">
      <ng-container *ngFor="let n of menuList">
      <li *ngIf="n.isOn" [ngClass]="{'is-opened': isActiveSubmenu(n.label)}">
        <ng-template [ngIf]="n.submenu">
          <button class="main-navigation__item" mat-button (click)="selectSubmenuItem(n.label)">
            <mat-icon class="main-navigation__item-icon">{{ n.icon }}</mat-icon>
            <span class="main-navigation__item-title">{{ n.label | translate }}</span>
            <mat-icon class="main-navigation__item-indicator">chevron_right</mat-icon>
          </button>
          <ul class="main-navigation__submenu">
            <li *ngFor="let child of n.submenu">
              <a class="main-navigation__item" mat-button [routerLink]="child.link" routerLinkActive="main-navigation__item--active" [routerLinkActiveOptions]="{exact:
                true}">
                <span class="main-navigation__item-title">{{ child.label | translate }}</span>
              </a>
            </li>
          </ul>
        </ng-template>
        <ng-template [ngIf]="!n.submenu">
          <a class="main-navigation__item" mat-button [routerLink]="n.link" routerLinkActive="main-navigation__item--active" [routerLinkActiveOptions]="{exact:
            true}">
            <mat-icon class="main-navigation__item-icon">{{ n.icon }}</mat-icon>
            <span class="main-navigation__item-title">{{ n.label | translate }}</span>
          </a>
        </ng-template>
      </li>
    </ng-container>
    </ul>
  </mat-sidenav>

  <app-toolbar [leftnav]="sidenav"></app-toolbar>

  <main class="content" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</mat-sidenav-container>

