<div class="header-content">
  <mat-form-field color="primary" floatLabel="never">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'CONTACTS.FILTER' | translate }}">
    <span matSuffix><mat-icon>search</mat-icon></span>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{ contact.$key }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let contact"> {{contact.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let contact">
        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="onDelete(contact.$key)">
            <mat-icon>delete</mat-icon>
            <span>{{ 'MISC.DELETE' | translate }}</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple (click)="showDetails(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
  <input type="hidden" formControlName="$key" [(value)]="contactService.selectedContact.$key">
  <div>
    <label>Name</label>
    <input formControlName="name" placeholder="Full Name" required>
  </div>
  <div>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    <button type="button" (click)="resetForm(contactForm)">Reset</button>
  </div>
</form>
<!--
<table class="table table-sm table-hover">
  <tr *ngFor="let contact of contactList">
    <td>{{ contact.$key }} - {{contact.name}}</td>
    <td>
      <a class="btn" (click)="onEdit(contact)">
        edit
      </a>
    </td>
  </tr>
</table> -->
