@import '~theme.scss';

.header-content {
  height: 80px;
  background-color: mat-color($accent);
  color: mat-color($primary, lighter-contrast);
  margin: -16px -16px 16px;
  padding: 16px 16px * 2;
}

.mat-column-actions {
  text-align: right;
}

.add-contact {
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 0;
  z-index: 99;
}
