<div class="login">
  <div class="login__inner">
    <mat-progress-bar class="login__loader" *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
    <mat-card>
      <div class="login-header">
        <img src="/assets/icons/logo.png" />
        <h1>FreelAdmin</h1>
      </div>
      <mat-card-content>
        <form [formGroup]="loginForm" (keyup.enter)="doLogin()" novalidate>
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" type="email" formControlName="email" required>
            <mat-error>
              {{ errors.email }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" matInput formControlName="password" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" required>
            <mat-error>
              {{ errors.passwordRequired }}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>

      <button mat-raised-button class="login-submit full-width" type="submit" [disabled]="loginForm.invalid" (click)="doLogin()" color="primary">{{ 'LOGIN.LOGIN' | translate }}</button>
    </mat-card>
  </div>
</div>
