<mat-toolbar class="toolbar">
  <div class="toolbar-navigation">
    <button class="button-menu" mat-icon-button (click)="leftnav.toggle()" *ngIf="showMenuTrigger">
      <mat-icon>menu</mat-icon>
    </button>

    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="toolbar-actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="doLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'TOOLBAR.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
