<mat-toolbar class="toolbar">
  <div class="toolbar-navigation">
    <button class="button-menu" mat-icon-button (click)="leftnav.toggle()" *ngIf="showMenuTrigger">
      <mat-icon>menu</mat-icon>
    </button>

    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="toolbar-actions">
    <button mat-icon-button (click)="toggleFullscreen()" *ngIf="fullScreenAvailable">
      <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
      <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
      <mat-icon>public</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="changeLanguage(lang)">
        <span>{{ 'LANGUAGES.' + lang | uppercase | translate }}</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="moreMenu" class="avatar" *ngIf="isDataAvailable">
      <img src="{{ user.avatar }}" alt="{{ user.name }}">
      {{ user.name }}
    </button>
    <mat-menu #moreMenu="matMenu" class="user-menu">
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>person</mat-icon>
        <span>{{ 'PROFILE.PROFILE' | translate }}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="doLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'TOOLBAR.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
