@import "~theme.scss";

.widget {
  width: 100%;
  line-height: 1;

  &__title {
    font-size: 16px;
    color: $color--secodary-text;
  }

  &__number {
    font-size: 54px;
    text-align: center;
  }

  mat-icon {
    font-size: 30px;
    vertical-align: sub;
    margin-right: 8px;
  }
}
